* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(https://i.pinimg.com/564x/0a/2d/a7/0a2da791528d52fc652f167d2b665900.jpg);
}

.navbar{
    border: 1px solid gray;

}

.contactanos{
    display: flex;
    justify-content: space-around;
}

.col-md-3 :hover{
    transform: all 1s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

}

.card{
    transform: all 1s;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}